<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="bean_1" class="di.spring.beans.Student">
    <!-- collaborators and configuration for this bean go here -->
    <property name="name" value="PRANAY"/>
    <property name="roll" value="XTG8900234"/>
    <property name="marks" value="89"/>
  </bean>
  
  </beans>