<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           <bean id="bean_1" class="sp.bean.Student"
           p:name="RANJAN"
           p:roll="GT4501"
           p:marks="77"
           p:course="M.C.A"
           p:address-ref="bean_2"/>
           
           <bean id="bean_2" class="sp.bean.Address">
           		<property name="lane" value="Ratu" />
           		<property name="city" value="Ranchi" />       		
           </bean> 

</beans>           