<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
           
   <context:annotation-config />        

  <bean id="address1" class="sp.beans.Address">
    <!-- collaborators and configuration for this bean go here -->
    <property name="houseno" value="0891"/>
    <property name="street" value="Park Avenue 56"/>
    <property name="city" value="Dublin"/>
  </bean>
  
  <bean id="address2" class="sp.beans.Address">
    <!-- collaborators and configuration for this bean go here -->
    <property name="houseno" value="5614"/>
    <property name="street" value="Grade Avenue 88"/>
    <property name="city" value="NYC"/>
  </bean>
  
  <bean id="std" class="sp.beans.Student" autowire="byName">
  		<property name="name" value="Pranay"/>
  		<property name="roll" value="260"/>
  		
  </bean>
  
</beans>  